<div class="bodyContent">
    
    <div class="headC">
       
      <h1> <mat-icon (click)="goBack()" aria-hidden="false"  aria-label="Example home icon" fontIcon="home" style="float: left;"></mat-icon>Current Section : {{currentSection}}</h1>
    </div>
  
    <div>
      <div class="row">
        <div class="col-3">
          <div class="menu" >
            <div (click)="scrollTo(sec1)" [ngClass]="currentSection === sec1.id ? 'astyle' : 'aactive'">Section
              1</div>
            <div (click)="scrollTo(sec2)"  [ngClass]="currentSection === sec2.id  ? 'astyle' : 'aactive'">Section
              2</div>
            <div (click)="scrollTo(sec3)"  [ngClass]="currentSection === sec3.id ? 'astyle' : 'aactive'">Section
              3</div>
          </div>
  
          <br />
        </div>
  
        <div class="col-9">
          <div #sectionContainer id="parentDiv" scrollSpy (sectionChange)="onSectionChange($event)">
            <div #sec1 class="section" id="section1">
              <h2 style="margin:0">Section 1</h2>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Etiam fringilla volutpat nunc, eget malesuada diam tristique eu. Pellentesque at nulla
                dignissim, commodo dui sed, eleifend diam. Donec dapibus tristique nibh. Aenean eu augue turpis. Nam
                finibus ex
                et nisl dictum, in tempor tortor sollicitudin. Nunc bibendum augue vitae ante maximus, at bibendum risus
                fringilla. Nam volutpat sed quam nec egestas.</p>
              <p class="content">Maecenas ullamcorper nisi ac nulla aliquet, ut maximus sapien ultrices. Praesent volutpat
                lacus lectus, eget euismod est porttitor a. Sed et nunc gravida dui mattis scelerisque ac eget justo.
                Praesent
                non velit nunc. Integer vulputate congue felis ut cursus. Morbi felis dui, efficitur eget sem nec, iaculis
                ornare ante. Pellentesque accumsan, dolor ut iaculis efficitur, enim magna rutrum turpis, sed tincidunt
                ligula
                odio id lectus. Suspendisse potenti. Vestibulum mi mauris, mattis non orci non, dictum posuere turpis.
                Proin
                consequat gravida dui id venenatis.</p>
            </div>
            <div #sec2 class="section" id="section2">
              <h2 style="margin:0">Section 2</h2>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus blandit nisl
                nec
                semper. Donec nisl neque, vehicula at accumsan in, ultricies a ligula. Nunc iaculis nisi vitae ullamcorper
                mollis. Aenean rutrum vehicula nisi sit amet luctus. Nam porta tellus vel faucibus rhoncus. Suspendisse
                sem
                orci, laoreet ac pulvinar sed, ultricies aliquam eros. Quisque non tellus nunc. Suspendisse eu lacus sed
                lectus
                mattis convallis at eu ex. Nulla facilisi.</p>
              <p class="content">Etiam fringilla volutpat nunc, eget malesuada diam tristique eu. Pellentesque at nulla
                dignissim, commodo dui sed, eleifend diam. Donec dapibus tristique nibh. Aenean eu augue turpis. Nam
                finibus ex
                et nisl dictum, in tempor tortor sollicitudin. Nunc bibendum augue vitae ante maximus, at bibendum risus
                fringilla. Nam volutpat sed quam nec egestas.</p>
            </div>
            <div #sec3 class="section" id="section3">
              <h2 style="margin:0">Section 3</h2>
              <p class="content">Etiam fringilla volutpat nunc, eget malesuada diam tristique eu. Pellentesque at nulla
                dignissim, commodo dui sed, eleifend diam. Donec dapibus tristique nibh. Aenean eu augue turpis. Nam
                finibus ex
                et nisl dictum, in tempor tortor sollicitudin. Nunc bibendum augue vitae ante maximus, at bibendum risus
                fringilla. Nam volutpat sed quam nec egestas.</p>
              <p class="content">Maecenas ullamcorper nisi ac nulla aliquet, ut maximus sapien ultrices. Praesent volutpat
                lacus lectus, eget euismod est porttitor a. Sed et nunc gravida dui mattis scelerisque ac eget justo.
                Praesent
                non velit nunc. Integer vulputate congue felis ut cursus. Morbi felis dui, efficitur eget sem nec, iaculis
                ornare ante. Pellentesque accumsan, dolor ut iaculis efficitur, enim magna rutrum turpis, sed tincidunt
                ligula
                odio id lectus. Suspendisse potenti. Vestibulum mi mauris, mattis non orci non, dictum posuere turpis.
                Proin
                consequat gravida dui id venenatis.
              </p>
  
  
            </div>
  
          </div>
        </div>
  
  
      </div>
    </div>
  
  
  
    <br />