.ntc{
  max-width: 95%;  
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2{
    text-align: center;
  }
}